@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/*
أسماء الخطوط لو أردت استدعاها  
font-family: 'Cairo', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Tajawal', sans-serif; 
*/